@font-face {
    font-family: "The-Seasons";
    src: url('TheSeasons-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Lora";
    src: url('Lora-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Montserrat";
    src: url('Montserrat-Regular.ttf') format('truetype');
}
@keyframes fade-in-down {
    from {
        translate: 0 -40px;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}
@keyframes fade-out-container {
    to {
        opacity: 0;
    }
}
@keyframes fade-out-image {
    100% {
        scale: 1.4;
    }
}
@keyframes color-switch {
    100% {
        box-shadow: 0 5px 8px 3px rgba(0,0,0,.14);
        background-color: #BEAF95;
    }
}
@keyframes color-switch-text {
    15%, 25%, 50%, 70% {
        color: transparent;
        fill: transparent;
    }   
}
html {
    scroll-behavior: smooth;
    overflow-x: clip;
    overflow-anchor: auto;
}
body {
    font-family: "Lora";
    font-weight: 400;
    font-size: 22px;
    color: #000000c2;
    line-height: 1.25;
    margin: 0;
    transition: 0.4s;
}
#page {
    display: none;
}
#pre-loader {
    width: 100%;
    height: 100%;
    background: #ffffff url("pre-loader.gif") no-repeat center center;
    background-size: 5%;
    position: fixed;
    z-index: 300;
}
.container {
    display: flex;
    justify-content: center;
}
.row {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    height: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
p::selection {
    background-color: #1b6223;
    color: #ffffff;
}
#navbar-container {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    animation: color-switch linear forwards;
    animation-timeline: view();
    animation-range-start: 1100px;
    animation-range-end: 1350px;
}
#navbar-container a {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: bold;
    color: white;
    animation: color-switch-text linear forwards;
    animation-timeline: view();
    animation-range-start: 650px;
    animation-range-end: 1250px;
}
svg {
    width: 100%;
    height: 40px;
}
#navbar-container svg g {
    animation: color-switch-text linear forwards;
    animation-timeline: view();
    animation-range-start: 650px;
    animation-range-end: 1250px;
}
a {
    display: block;
    text-decoration: none;
    cursor: pointer;
}
#navbar-row {
    justify-content: space-between;
    padding: 12 80 12 50;
}
#homelink-container {
    cursor: pointer;
    transition: 0.4s;
}
#homelink-container:hover, #menu-button:hover {
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.1, 1.1) rotate(0deg);
}
#cover-page {
    color: #ffffff;
    opacity: 1;
    translate: 0 0;
    position: relative;
    transition-property: opacity translate;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    width: 100%;
    height: 750px;
    overflow-x: clip;
    align-items: center;
    @starting-style {
        opacity: 0;
        translate: 0 50px;
        overflow-anchor: auto;
    }
}
#image-background {
    width: 100%;
    height: 100%;
    background-image: url(./1606643597.jpg);
    background-size: cover;
}
#color-background {
    width: 100%;
    height: 100%;
    background-color: #004b159e;
    mix-blend-mode: multiply;
}
#heading-container {
    position: absolute;
    flex-direction: column;
    padding: 0 171 0 211;
    animation: fade-out-container linear forwards;
    animation-timeline: view();
    animation-range: exit;
}
#main {
    position: relative;
}
#heading-container p {
    opacity: 1;
    translate: 0 0;
    transition-property: opacity translate;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    @starting-style {
        opacity: 0;
        translate: 0 50px;
    }
}
#title, #name {
    font-family: "Montserrat";
    font-size: 30px;
    margin: 0;
}
#name {
    transition-delay: 2s;
}
#descriptor {
    margin: 30 0 40 0;
    font-family: "The-Seasons";
    font-size: 76px;
    line-height: 1.15;
    transition-delay: 1s;
}
#content-container {
    margin-top: 140px;
    margin-bottom: 100px;
    line-height: 1.6;
}
.sub-heading-container p, .paragraph-container p, .paragraph-container img {
    animation: fade-in-down linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 200px;
}
#image-background {
    animation: fade-out-image linear forwards;
    animation-timeline: view();
    animation-range: exit;
    transform-origin: bottom;
}
#content-container img {
    width: 100%;
    margin: 30px 0;
    opacity: 0;
}
#content-container .container {
    flex-direction: column;
    margin: 0 150px;
}
.sub-heading-container {
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: bold;
    color: #7e5f2b;
}
.sub-heading-container p {
    margin: 10px 0;
}
.paragraph-container p {
    margin: 35px 0;
    opacity: 0;
}
.paragraph-container a {
    color: #000000c2;
    text-decoration: underline;
    display: inline;
}
.paragraph-container a:hover, .paragraph-container a:active {
    color: #1b6223;
}
#conclusion {
    margin-top: 4.6vh;
}
#sub-heading-7 {
    margin-bottom: 30px;
}
#references {
    padding-top: 100px;
}
#footer-container {
    font-family: "The-Seasons";
    font-size: 28px;
}
#lower-footer-row {
    background-color: #1b6223;
    color: #ffffff;
    justify-content: space-between;
    padding: 5 80 5 50;
}
#lower-footer-row p {
    margin: 15px 0;
}
#upper-footer-row {
    align-items: flex-end;
    justify-content: center;
}
#bg-leaves-2 {
    position: relative;
    width: 100%;
    height: 140px;
    overflow: hidden;
}
.button {
    cursor: pointer;
    transition: 0.4s;
    border: none;
    background-color: #1b6223;
    padding: 0;
    rotate: 0deg;
}
.button:active {
    transform: scale(1.1, 1.1);
}
.button svg {
    width: 100%;
    height: 45px;
}
#hidden-menu-container {
    font-family: "Montserrat";
    font-size: 18px;
    width: 385px;
    background-color: #ffffff;
    box-shadow: 0 5px 8px 3px rgba(0,0,0,.14);
    position: absolute;
    right: 0;
    display: none;
    opacity: 0;
    transition-property: display opacity;
    transition-duration: 1s;
    transition-behavior: allow-discrete;
    translate: 50vh 0;
    overflow-anchor: auto;
}
#hidden-menu-container.active {
    display: block;
    opacity: 1;
    translate: 0 0;
    overflow-anchor: auto;
    @starting-style {
        opacity: 0;
        translate: 50vh 0;
        overflow-anchor: auto;
    }
}
#menu-heading-container {
    background-color: #1b6223;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px;
}
#menu-heading-container p {
    margin: 20;
}
.option-container {
    display: flex;
    align-items: center;
    width: 385px;
    height: 90px;
    transition: 0.4s;
}
.option-container:hover, .option-container:active {
    background-color: #7e5f2b;
    opacity: 0.5;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.option-container a {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding: 22.5 30 22.5 20;
    color: black;
}
#topic-5 {
    padding: 35px 20px;
}
.option-container:hover a {
    color: white;
}
.color-band {
    width: 7px;
    height: 100%;
    background-color: #1b6223;
}
.option-container:hover .color-band {
    background-color: #000000;
    opacity: 0.4;
}

